/* define classes here */
/* CANNOT DO element selectors */

.coolColor {
    color: rgb(0, 206, 209);
}

.hotColor {
    color: rgb(255, 105, 180);
}

.contact {
    background-color: rgb(51,255,51);
}